<Tabs>
    <TabStrip>
        <TabStripItem>
            <Label text="Home"></Label>
            <Label class="icon" text="f007"></Label> 
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Account"></Label>
            <Label class="icon" text="f002"></Label> 
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Search"></Label>
            <Label class="icon" text="f015"></Label> 
        </TabStripItem>
    </TabStrip>
</Tabs>