<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657900547417-dvbnqm3pv26lkl2l9hb2qgb5d3u31eop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657900547417-dvbnqm3pv26lkl2l9hb2qgb5d3u31eop</string>
	<key>API_KEY</key>
	<string>AIzaSyAx10roDNOkCz4o9A2NF4yKBvARRvwfMJM</string>
	<key>GCM_SENDER_ID</key>
	<string>657900547417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.SoluGame</string>
	<key>PROJECT_ID</key>
	<string>solugame-e5ac2</string>
	<key>STORAGE_BUCKET</key>
	<string>solugame-e5ac2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657900547417:ios:29c2ecb122dd03e845b048</string>
	<key>DATABASE_URL</key>
	<string>https://solugame-e5ac2.firebaseio.com</string>
</dict>
</plist>